html, body, #root {
  height: 100%;
  width: 100%;
}

h1 {
  text-align: center;
  user-select: none;
}

.page {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.svg {
  flex: 1;
  min-height: 0;
  max-height: 100%;
  max-width: 100%;
  aspect-ratio: 1 / 1;
  align-self: center;
}

.top-row {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 10px solid #0d6efd;
}

.top-row .btn {
    width: 95px;
    height: 60px;
    text-align: center;
}

@media (min-width: 700px) {
    .top-row .btn {
      width: 200px;
      height: 40px;
      text-align: center;
    }
}

.bottom-row {
  padding-bottom: 10px;
}

.not-clickable {
  pointer-events: none;
}

/* Overriding bootstrap danger button colour*/
.btn.btn-danger {
  --bs-btn-bg: #ff4141;
  --bs-btn-border-color: #ff4141;
  --bs-btn-hover-bg: #c22f2f;
  --bs-btn-hover-border-color: #c22f2f;
}

/* Overriding bootstrap warning button colour*/
.btn.btn-warning {
  --bs-btn-bg: #f8ff22;
  --bs-btn-border-color: #f8ff22;
  --bs-btn-hover-bg: #e3ea19;
  --bs-btn-hover-border-color: #e3ea19;
}

/* Overriding bootstrap success button colour*/
.btn.btn-success {
  --bs-btn-bg: #48da43;
  --bs-btn-border-color: #48da43;
  --bs-btn-hover-bg: #38a635;
  --bs-btn-hover-border-color: #38a635;
}

.icon {
  position: relative;
  top: -0.75px;
}

.node {
  transition: r 0.15s ease, fill 0.15s ease;
}

.node:hover {
  r: .125;
  cursor: pointer;
}

.ibm-plex-serif-semibold {
  font-family: "IBM Plex Serif", serif;
  font-weight: 600;
  font-style: normal;
}

.ibm-plex-serif-regular {
  font-family: "IBM Plex Serif", serif;
  font-weight: 400;
  font-style: normal;
}