html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  gap: 8px;
}

.board {
  max-height: 100%;
  aspect-ratio: 1 / 1;
  align-self: center;
  /* border: 3px solid #000000;*/
}

.bottom-buttons {
  align-self: center;
}

.bottom-buttons button {
  white-space: nowrap;
}

.top-buttons {
  height: 60px;
  align-items: center;
  z-index: 1000;
  padding-left: 10px;
  padding-right: 10px;
}

.difficulty-buttons {
  padding-top: 25px;
}

h1 {
  text-align: center;
}

.node {
  transition: r 0.15s ease, fill 0.15s ease;
}

.node:hover {
  r: .125;
  cursor: pointer;
}

.ibm-plex-serif-semibold {
  font-family: "IBM Plex Serif", serif;
  font-weight: 600;
  font-style: normal;
}

.ibm-plex-serif-regular {
  font-family: "IBM Plex Serif", serif;
  font-weight: 400;
  font-style: normal;
}